:root {
  --principal: rgb(11, 14, 17);
  --secondary: rgb(21, 26, 33);
  --font-color: rgb(255, 255, 255);
  --font-color-hover: rgb(85, 117, 231);
}

body {
  overflow-x: hidden;
  margin: 0;
  color: var(--font-color);
  scroll-behavior: smooth;
  padding: 0px;
  margin: 0px;
  font-family: Montserrat, sans-serif;
  background: var(--principal);
  position: relative;
  overflow-x: hidden;
}

* {
  box-sizing: content-box;
  scroll-behavior: smooth;
}

img {
  max-width: 100%;
  height: auto;
}

a {
  color: var(--font-color);
  &:focus,
  &:hover {
    color: var(--font-color-hover);
  }
}
h1,
h2,
h3,
h4 {
  padding: 0px;
  margin: 0px;
}
ul,
li {
  padding: 0px;
  margin: 0px;
}
p {
  font-size: 1.3rem;
}
::-webkit-scrollbar {
  width: 15px;
  &-track {
    background: var(--secondary);
  }
  &-thumb {
    background-color: var(--font-color-hover);
    &:hover {
      background-color: var(--font-color);
    }
  }
}
.relative {
  position: relative;
}
.flex {
  display: flex;
}
.secondary {
  background-color: var(--secondary);
}
.absolute {
  position: absolute;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: space-around;
  z-index: -1;
}
.overflowHidden {
  overflow: hidden;
}
.center {
  justify-content: center;
  align-items: center;
}
.fullSize {
  width: 100%;
}
.column {
  display: flex;
  flex-direction: column;
}
summary {
  color: blue;
}
details[open] > summary {
  color: red;
}
