---
import MainHead from "../components/MainHead.astro";
---

<html lang="fr">
  <head>
    <MainHead title="Not Found" />
    <style lang="scss">
      @import "../styles/404.scss";
    </style>
  </head>
  <body>
    <div class="flyingCubesContainer">
      <div class="flyingCubes c1"></div>
      <div class="flyingCubes c3"></div>
      <div class="flyingCubes c2"></div>
      <div class="flyingCubes c4"></div>
    </div>
    <div class="err404">
      <h1>Tu es perdu?</h1>
      <a href={import.meta.env.BASE_URL} class="link"
        >je pense que ton chemin est ici</a
      >
    </div>
  </body>
</html>
